* {
	margin: 0;
	padding: 0;
	outline: none;
}
html {
	scroll-behavior: smooth; /*плавная прокрутка*/
	font-family: "Arial", sans-serif;
	font-size: 16px;
	color: black;
	overflow-wrap: break-word;
}
.wrap {
	max-width: 100%;
	min-width: 320px;
}
.container {
	max-width: 1200px;
	min-width: 290px;
	padding: 0 15px;
	margin: 0 auto;
	box-sizing: border-box;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
a {
	text-decoration: none;
	outline: none;
	transition: 0.2s all linear;
}
a:hover {
	cursor: pointer;
}
ul {
	list-style: none;
}
input,
button {
	transition: 0.2s all linear;
	cursor: pointer;
}
.btn {
}
.btn:hover {
}
